root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{fs,fsi,fsx}]
indent_style = space
indent_size = 4

# Markdown uses trailing spaces for hard line breaks
[*.md]
trim_trailing_whitespace = false
